.Jymmy {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.col-1-5 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.col-2-5 {
  grid-column-start: 4;
  grid-column-end: 9;
}
.col-3-5 {
  grid-column-start: 1;
  grid-column-end: 6;
}
.col-4-5 {
  grid-column-start: 6;
  grid-column-end: 9;
}
.col-5-5 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.col-5-2 {
  grid-column-start: 5;
  grid-column-end: 9;
}
.box-item {
  margin: 0 !important;
}
.col-1-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.box-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.button-skin {
  width: 50%;
  position: relative;
  left: 25%;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: auto auto auto 15%;
}
.wrap-footer {
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
  grid-template-columns: auto auto;
}
.wrap-container-1 {
  margin-left: 25%;
  margin-right: 25%;
}

.box-image {
  background-image: url(./images/15.jpg);
}

.divImg {
  width: 50%;
  height: auto;
}
.box image {
  background-image: url(./images/16.jpg);
}
.f-right {
  width: 50%;
  height: auto;
}
.box image {
  background-image: url(./images/14.jpg);
}
.divImg {
  width: 50%;
  height: auto;
}
